# docker-compose.yml
version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - dbnet

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    env_file: .env
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - dbnet

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # UI Web
    restart: unless-stopped
    networks:
      - dbnet

  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - dbnet

volumes:
  postgres-data:
  minio_data:

networks:
  dbnet:



# Exemplo de init script: ./init-db/init.sql
# CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
# CREATE SCHEMA IF NOT EXISTS app;
# GRANT ALL ON SCHEMA app TO appuser;